/* 
    ! IMPORTANT
    ! DO NOT CHANGE THE ORDER !!
    * The Main elements in the file.
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

:root {
  --bg: #222222;
  --primary: #33c61b;
  --secondary: #ee3030;
  --text-color: #d9d9d9;
  --focus-color: #313131;
}

/* ! END ! */
